<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Tieba Post</title>
  {% from "comments.jinja" import render_comments %}
  {% from "stats.jinja" import render_stats %}
  {% include "share.html" %}
  <style>
    :root {
      --primary-color: #1e88e5;
      --secondary-color: #42a5f5;
      --dark-color: #2c3e50;
      --light-color: #ecf0f1;
      --gray-color: #95a5a6;
      --border-radius: 8px;
      --box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    }

    .forum-name {
      font-size: 13px;
      color: #555;
      background-color: #f1f8ff;
      padding: 2px 8px;
      border-radius: 6px;
      align-self: flex-start;
    }
  </style>
</head>

<body>
  <div class="card">
    <div class="decorative-stripe"></div>

    <div class="content-section">
      <div class="header">
        <img src="{{ result.author.avatar_path }}" class="avatar" alt="avatar" />
        <div class="user-info">
          <div class="username">{{ result.author.name }}</div>
          <div class="time">{{ result.formatted_datetime }}</div>
          <div class="forum-name">{{ result.extra.forum.name }}吧</div>
        </div>
        {# Platform Logo #}
        <div class="tag platform-tag">
          <img src="{{ result.platform.logo_path }}" style="height: 16px; margin-right: 6px;">
          <span>{{ result.platform.display_name }}</span>
        </div>

      </div>
      {# --- 统计数据 --- #}
      {{ render_stats(result.stats) }}

      {% if result.title %}
      <div class="title">{{ result.title }}</div>
      {% endif %}

      <div class="text">{{ result.content | safe }}</div>
    </div>

    <!-- 评论区域 -->
    {{ render_comments(result) }}

    <!-- 底部 -->
    <div class="footer-section">
      <div class="footer-brand">
        <i class="fas fa-layer-group"></i>
        <span>{{ bot_name }} Parse</span>
      </div>
      <div class="footer-info">
        <i class="fas fa-clock" style="margin-right: 1px;"></i>
        <span>Rendering at {{ rendering_time }}</span>
      </div>
    </div>
  </div>
</body>

</html>